<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<title>Mobilny pasażer</title>
<meta charset="UTF-8">
<div th:replace="fragments/header :: headerCss"></div>

<body class="w3-light-grey w3-content" style="max-width:1600px">

<!-- Sidebar/menu -->
<block id="mySidebar" class="alt" th:include="fragments/sidebar.html :: mySidebar" />

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>


<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px">

    <!-- Header -->
    <header th:replace="fragments/header.html :: menuHeader" />

    <div style="border-radius: 5px; margin-left: auto; background-color: #f2f2f2" >

        <form method="post" action="/new-elevator-malfunction" th:object="${elevatorTicketDTO}">

            <p><label for="station">Stacja, gdzie ma miejsce awaria</label>
                <input type="text" id="station" name="station" th:field="*{station}"></p>
            <label for="platform">Numer peronu, którego dotyczy awaria</label>
            <select id="platform" name="platform" th:field="*{platform}">
                <option value="platform1">Peron 1</option>
                <option value="platform2">Peron 2</option>
                <option value="platform3">Peron 3</option>
                <option value="platform4">Peron 4</option>
                <option value="platform5">Peron 5</option>
                <option value="platform6">Peron 6</option>
            </select>

            <p><label for="malfunction_date">Data awarii</label>
                <input type="date" id="malfunction_date" name="data awarii" th:field="*{malfunction_date}"></p>

            <p><label for="action_taken">Podjęte działanie</label>
                <input type="text" id="action_taken" name="action_taken" th:field="*{action_taken}"></p>

            <p><label for="planned_malfunction_end">Przewidywana data usunięcia awarii</label>
                <input type="date" id="planned_malfunction_end" name="planowane usunięcie awarii" th:field="*{planned_malfunction_end}"></p>

            <p><label for="malfunction_end">Data usunięcia awarii</label>
                <input type="date" id="malfunction_end" name="data usunięcia awarii" th:field="*{malfunction_end}"></p>

            <input type="submit" value="Opublikuj">

        </form>
    </div>

    <!-- End page content -->
</div>

<script>
    // Script to open and close sidebar
    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("myOverlay").style.display = "block";
    }

    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("myOverlay").style.display = "none";
    }
</script>


</body>
</html>