<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<title>Mobilny pasażer</title>
<meta charset="UTF-8">
<div th:replace="fragments/header :: headerCss"></div>

<body class="w3-light-grey w3-content" style="max-width:1600px">

<!-- Sidebar/menu -->
<block id="mySidebar" class="alt" th:include="fragments/sidebar.html :: mySidebar" />

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>


<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px">

    <!-- Header -->
    <header th:replace="fragments/header.html :: menuHeader" />

    <!-- End page content -->
</div>

<script>
    // Script to open and close sidebar
    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("myOverlay").style.display = "block";
    }
    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("myOverlay").style.display = "none";
    }
</script>


</body>
</html>